<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142535428939-h0adqv5dj4p7c4c82qoltutu219br742.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142535428939-h0adqv5dj4p7c4c82qoltutu219br742</string>
	<key>API_KEY</key>
	<string>AIzaSyCLlSsH9TN60c5Uy-iFWqP-Js_ZmHKFzyo</string>
	<key>GCM_SENDER_ID</key>
	<string>142535428939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techigh.tiktok</string>
	<key>PROJECT_ID</key>
	<string>techigh-tiktok-dev-cli</string>
	<key>STORAGE_BUCKET</key>
	<string>techigh-tiktok-dev-cli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142535428939:ios:63e24189fe9a96025876ce</string>
</dict>
</plist>